/* .pong{
    background-image: url(https://media.giphy.com/media/l378xF27h43onahbO/source.gif);
    background-position: center;
}
.startBtn{
    position: center;
    font-style: inherit;
    border: 10px;
    width: 100px;
    height: 40px;
} */